* {
    box-sizing: border-box;
}

.body {
    max-width: 810px;
    max-height: 500px;
    margin: 107px 309px;
}

.content {
    background-color: #FEEED5;
    padding: 6px 15px;
    font-family: helvetica;
    filter: blur(0.02px);
    }

.line-break {
    display: block;
}

.margins {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

.inline-block {
    background-color: inherit;
    display: inline-block;
    align-items: baseline;
    gap: 10px;
}

.strike-out {
    text-decoration: line-through;
}

.main-header {
    font-weight: 500;
    color: #6C6555;
    font-size: 1.72rem;
}

.main-header-margins {
    margin-top: -10px;
    margin-bottom: 3px;
}

.header {
    color: #548396;
    font-size: 17px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.course-data {
    color: #73685A;
}

.course-info {
    text-align: justify;
    color: #6E665A;
    text-indent: 15px;
    font-size: 14.85px;
    line-height: 1.45;
    word-spacing: 2.1px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.course-info-container {
    margin-top: -8px;
    margin-bottom: -8px;
}